.css-10m0cap{
  padding-bottom: 0px !important;
}
.css-1gwv7ie-MuiCardMedia-root{
  padding-top: 0 !important;
}
.btn-grad {
  border:none;
  background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%);
  margin-left: 900px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}